<footer>
  <div class="container p-5">
    <div class="row row-cols-1 row-cols-sm-3 g-4 p-4">
      <app-card [cardtitel]="'LOCATION'">
        <p class="card-text">2215 John Daniel Drive</p>
        <p class="card-text">Clark, MO 65243</p>
      </app-card>
      <app-card [cardtitel]="'AROUND THE WEB'">
        <div>
          <span class="py-1 px-2 rounded-circle border mx-1">
            <i class="fa-brands fa-facebook"></i>
          </span>
          <span class="py-1 px-2 rounded-circle border mx-1">
            <i class="fa-brands fa-twitter"></i>
          </span>
          <span class="py-1 px-2 rounded-circle border mx-1">
            <i class="fa-brands fa-linkedin-in"></i>
          </span>
          <span class="py-1 px-2 rounded-circle border mx-1">
            <i class="fa-solid fa-globe"></i>
          </span>
        </div>
      </app-card>
      <app-card [cardtitel]="'ABOUT FREELANCER'">
        <p class="card-text">
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </app-card>
    </div>
  </div>
  <div class="two p-3 pb-2 text-center">
    <p>Copyright © Your Website 2021</p>
  </div>
</footer>
